* {
    box-sizing: border-box;
}

header {
    margin-top: 15px;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: "Poppins", sans-serif;
}

header h1 {
    margin-bottom: 0;
}

.site-title-2 {
    margin: 0 0 8px 0;
}

.site-caption, .site-caption-2 {
    font-weight: 600;
}

header h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    font-style: italic;
}

body {
    font-family: "PT Serif", serif;
    font-size: 17px;
    position: relative; 
    height: 100vh;
    background-color: rgb(176, 188, 194);
    color: black;
}

 body::after {
    content: "";
    background-image: url("./falling_money_PNG15430.png");
    height: 100%;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
} 


.form-getdate {
    text-align: center;
    margin-top: 50px;
}

button:hover {
    cursor: pointer;
}

.label-search-date {
    font-weight: 600;
}

.search-error {
    display: none;
}

.search-results-hdr {
    margin: 50px 0 30px;
}

.instructions {
    margin: 0;
    font-size: 17px;
    font-style: italic;
}

.search-results {
    display: none;
    text-align: center;
    margin: 0 5px 20px;
}

.search-results h3 {
    font-size: 22px;
}

.grandSlams, .bunts, .strikeouts {
    border: 3px solid black;
    padding: 0;
    margin-bottom: 10px;
}

.grandSlams h3, .bunts h3, .strikeouts h3 {
    margin-bottom: 25px;
}

.grandSlams {
    background-color: lightgreen;
}

.bunts {
    background-color: rgb(235, 235, 152);
}

.grandslam-list, .bunt-list, .strikeout-list {
    list-style: none;
    padding: 0;
    margin: 0 20px;
    text-align: left;
}

.matchup {
    margin: 0;
}

.grandslam-list > p, .bunt-list > p, .strikeout-list > p {

    padding: 0;
    margin: 0;
}

.strikeouts {
    background-color: lightcoral;
}

.betonme {
    font-weight: 900;
}

.headlines {
    list-style: square inside;
    padding: 17px 0;
    text-align: left;
    font-size: 14px;
    line-height: 1.25;
}

.no-games {
    margin-bottom: 17px;
}

@media screen and (min-width: 1000px) {

    .site-title, .site-title-2, .site-caption, .site-caption-2 {
        display: inline-block;
    }

    .site-title-2, .site-caption-2 {
        margin-left: 3px;
    }

    .matchup {
        width: 50%;
        text-align: right;  
        border-right: 3px solid black;
        padding-right: 10px;
    }

    .gamebox {
        display: flex;
        margin-bottom: 10px;
    }

    .headlines {
        width: 50%;
        list-style: square outside;
        margin-left: 20px;
        padding: 0;
    }

}

